*{
    box-sizing: border-box;
}

.skip-knapp{
    font-family: 'Chivo', sans-serif;
    left: 0%;
    position: absolute;
    background: #9CC5A1;
    height: 50px;
    padding: 20px;
    opacity: 0%;
    color:#1f2421;
}

  .skip-knapp:focus {
    opacity: 100%;
}

/* Fonts */

h1, h2, h3, h4, h5{
    font-family: 'Chivo', sans-serif;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
    font-style: italic;
    color: rgb(82, 82, 82)
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.kontakt-liste{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* Body */

body{
    background-color: #0c4767;
}

.grid-container{
    display: grid;
    grid-template-areas:"header" 
                        "main"
                        "footer";
    grid-template-columns: auto;
}


/* Header */

header{
    grid-area: header;
    background-image: url(../bildebank/unsplash_background_desktop.webp);
    background-color: #216869;
    min-height: 185px;

}

header nav{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding-left: 0px;
}

header nav li{
    padding: 1rem;
    background-color:#1F2421;
    border-radius: 30px;
}

header nav li a{
    text-decoration: none;
    color: #a3c3d9;
    font-size: 20px;
}

a:hover{
    opacity: 0.7;
}


header section{
    display: flex;
    justify-content: center;
}

div header section h1{
    padding: 1rem 3rem;
    border: 2px solid #1F2421;
    background-color:#a3c3d9;
} 

/* Main */

article ol li{
    margin: 12px;
}

article ul li{
    margin: 12px;
}

article a{
    color: #3000b3;
}

.black-lists li{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

ol li{
    color: #3000b3;
    background-color: #e9ecf5;
}

ol li a{
    color: #3000b3;
    background-color: #e9ecf5;
}

ul li a{
    color: #3000b3;
}

article div ul li{
    margin: 5px;
}

#wave-sbs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#skip-image-parent{
    display:flex;
    justify-content: space-around;
}

#skip-image-parent img{
    width: 330px;
    height: 81px;
}


/* RESIZING IMAGES BIG LARGE */

picture img{
    border-radius: 20px;
}

.card-image-parent{
    display: flex;
    align-items: center;
}

#uu-image img{
    width: 300px;
    height: 201px;
}

#cms-image img{
    width: 300px;
    height: 200px;
}

#analyse-image img{
    width: 300px;
    height: 216px;
}

#lh-orig-score-img img{
    width: 680px;
    height: 419px;
}

#lh-orig-ytelse img{
    width: 680px;
    height: 811px;
}

#broken-form img{
    width: 680px;
    height: 478px;
}

/* share buttons */
.fa-brands{
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    color: #0c4767;
}

.sharing-buttons{
    display: flex;
    justify-content: space-around;
}

.fa-brands:hover {
    opacity: 0.7;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main article{
    display: flex;
    flex-direction: column;
    background-color: #e9ecf5;
    border-radius: 10px;
    margin: 1rem;
    min-width: 700px;
    max-width: 700px;
    padding: 10px;
    flex-wrap: wrap;
}

main article ul li{
    list-style: none;
}

main section{
    display: flex;
    background-color: #e9ecf5;
    border-radius: 10px;
    margin: 1rem;
    gap: 1rem;
    min-width: 700px;
    max-width: 700px;
    padding: 10px;
}

/**** KONTAKT-SIDEN ****/


/* Kart */
#kontakt-map{
    width: 680px;
    height: 350px;
}

/* KONTAKT-SKJEMA */
#fornavn{
    width: 264px;
}
#etternavn{
    width: 264px;
}
#e-post{
    width: 534px;
}

#brukermelding{
    max-width: 680px;
    min-width: 680px;
    min-height: 300px;
}

textarea{
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

label{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

button{
    font-family: 'Overpass Mono', monospace;
    font-size: 25px;
    background-color: #0c4767;
    color: #e9ecf5;
    border-radius: 1rem;
    /* font-weight: bold; */
    padding: 0.5rem 3rem;
    padding-top: 0.8rem;
    margin: 10px;
}

button:hover{
    opacity: 0.7;
}

#form-button{
    display: flex;
    justify-content: center;
}

/* tabell */

#tabell{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #1F2421
}

/* ruter generelt */

.rute{
    height: 175px;
    font-size: 14px;
}

.rute ul{
    padding-left: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.rute li{
    list-style: circle;
}

.rute p{
    display: flex;
    text-decoration: underline;
    padding-left: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: center;
}

.rute-lenke{
    color: #3000b3;
    background-color: #e9ecf5;
}


/* individuelle ruter */

#rute-1{
    width: auto;
    height: 170px;
    background-color: #216869;
}

#rute-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 170px;
    background-color: #216869;
}

#rute-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 170px;
    background-color: #216869;
}

#rute-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: 170px;
    background-color: #216869;
}

#rute-4 h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

#rute-5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #49A078;
}

#rute-6{
    width: auto;
    background-color: #49A078;
}

#rute-7{
    width: auto;
    background-color: #49A078;
}

#rute-8{
    width: auto;
    background-color: #49A078;
}

#rute-9{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #9CC5A1;
}

#rute-10{
    width: auto;
    background-color: #9CC5A1;
}

#rute-11{
    width: auto;
    background-color: #9CC5A1;
}

#rute-12{
    width: auto;
    background-color: #9CC5A1;
}

#rute-13{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: #DCE1DE;
    flex-direction: column;
}

#rute-13 h3{
    margin: 5px;
}

#rute-14{
    width: auto;
    background-color: #DCE1DE;
}
#rute-15{
    width: auto;
    background-color: #DCE1DE;
}
#rute-16{
    width: auto;
    background-color:#DCE1DE;
}

/* Dette skal kun være synlig i mobil-versjon */

#rute-17, #rute-18, #rute-19, #rute-20, #rute-21, #rute-22, #rute-23, #rute-24{
    display: none;
}


/* Footer */

footer{
    grid-area: footer;
    background-color: #e9ecf5;
    display:flex;
    justify-content: center;
}

footer a{
    display: flex;
    justify-content: center;
    color: #1f2421;
    padding: 0.5rem 2rem;
}


/* BREAKPOINT 1 - <800  */

@media only screen and (max-width: 800px){

    .skip-knapp{
        display: none;
    }


    .grid-container{
        grid-template-areas:"header" 
                            "main"
                            "footer";
        grid-template-columns: auto;
    }    

    /* Font */
    h2{
        font-size: 23px;
    } 

    h3{
        font-size: 18px;
    }
    
    h4{
        font-size: 16px;
    }
    
    p{
        font-size: 16px;
    }


    /* Header */

    header{
        background-image: url(../bildebank/unsplash_background_mobile.webp);
    }

    header nav ul{
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 250px;
        width: 300px;
    }

    header nav ul li{
        text-align: center;
    }

    /* Main */
    main{
        padding: 0;
    }
    main section{
        min-width: 450px;
        max-width: 450px;
    }
    
    main article{
        min-width: 450px;
        max-width: 450px;
    }
    
    #wave-sbs{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    /* IMAGE RESIZING MEDIUM */

    #uu-image img{
        width: 200px; 
        height: 134px;    
    }

    #cms-image img{
        width: 200px;
        height: 133px;
    }

    #analyse-image img{
        width: 200px;
        height: 144px;
    }
    
    #lh-orig-score-img img{
        width: 430px;
        height: 265px;
    }
    
    #lh-orig-ytelse img{
        width: 430px;
        height: 513px;
    }

    #broken-form img{
        width: 430px;
        height: 302px;
    }


    /* Footer */
    footer{
        display:flex;
        justify-content: center;
    }

    footer a{
        padding: 16px;
    }

    /* Tabell */
    #tabell{
        display: grid;
        grid-template-columns: 120px auto;
        background-color: #1F2421    }
    
    /* vis mobile-only rutene igjen */
    #rute-17, #rute-18, #rute-19, #rute-20, #rute-21, #rute-22, #rute-23, #rute-24{
        display: grid;
    }

    /* bytt farge venstre side av tabell */
    #rute-2, #rute-3, #rute-4, #rute-18, #rute-19, #rute-20, #rute-22, #rute-23, #rute-24{
        background-color: #f4bbd3;
    }

    /* bytt farge høyre side av tabell */
    #rute-6, #rute-7, #rute-8, #rute-10, #rute-11, #rute-12, #rute-14, #rute-15, #rute-16{
        background-color: #f1e4f3;
    }

    /* CMS-navn rutene */
    #rute-1, #rute-5, #rute-9, #rute-13, #rute-17, #rute-21{
        background-color: #e59aaf;
    }

    #rute-1{
        display: none;
    }
    #rute-2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        height: auto; 
        }
    #rute-3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        height: auto;    
    }
    #rute-4{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        height: auto; 
    }
    #rute-5{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2; 
    }
    #rute-6{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; 
    }
    #rute-7{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4; 
    }
    #rute-9{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6; 
    }
    #rute-13{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10; 
    }

    /* mobile-exclusive */
    
    #rute-17{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        width: auto;
        height: 175px;
    }
    #rute-18{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    
    }
    #rute-19{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    }
    #rute-20{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    #rute-22{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 11;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    
    }
    #rute-23{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 11;
        grid-row-end: 12;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    }
    #rute-24{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 12;
        grid-row-end: 13;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    /* fikse teksten i rutene */
    #rute-24 h3, #rute-20 h3{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /* KONTAKT-Siden */
    
    #kontakt-map{
        width: 425px;
    }

    /* KONTAKT-SKJEMA */
    #kontaktskjema{
        flex-wrap: nowrap;
    }

    #fornavn{
        width: 425px;
    }

    #etternavn{
        width: 425px;
    }

    #e-post{
        width: 425px;
    }

    #brukermelding{
        max-width: 425px;
        min-width: 425px;
        min-height: 300px;
    }

}

/* BREAKPOINT 2 mindre mobiler */
@media only screen and (max-width: 500px){

    /* main */
    main section{
        min-width: 350px;
        max-width: 350px;
    }
    
    main article{
        min-width: 350px;
        max-width: 350px;
    }

    /* IMAGE RESIZING SMALL */

    #uu-image img{
        width: 150px; 
        height: 101px;
    }

    #cms-image img{
    width: 150px;
    height: 100px;    
    }

    #analyse-image img{
        width: 150px;
        height: 108px;
    }

    #lh-orig-score-img img{
        width: 330px;
        height: 203px;
    }

    #lh-orig-ytelse img{
        width: 330px;
        height: 294px;
    }

    #broken-form img{
        width: 330px;
        height: 237px;
    }
    
    /* kontakt side elementer */

    h1{
        font-size: 26px;
    }

    #kontakt-map{
        width: 327px;
        height: 250px;
    }

    #kontaktskjema{
        flex-wrap: nowrap;
    }

    #fornavn{
        width: 330px;
    }

    #etternavn{
        width: 330px;
    }

    #e-post{
        width: 330px;
    }

    #brukermelding{
        min-width: 330px;
        max-width: 330px;
        height: 200px;
    }
    

}